<div class = "container-fluid" >
  <p>{{title}}</p>
  <div class = "table-responsive">
    <table class = "table table-hover table-striped" >
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Channel</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series;let i = index">
          <td>{{s.name}}</td>
          <td>{{s.channel}}</td>
          <td><button type = "button" class = "btn btn-primary" (click)="onEdit(i)">Edit</button></td>
          <td><button type = "button" class = "btn btn-danger" (click) = "onRemove(i)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class = "container">
  <div class = "jumbotron">
      <h4>Add or Edit Web Series</h4>
      <form>
          <div class = "form-group">
            <label for = "name">Name : </label>
            <input type = "text" class = "form-control" [(ngModel)] = "name"  name="name">
          </div>

          <div class = "form-group">
              <label for = "channel">Channel : </label>
              <input type = "text" class = "form-control"  [(ngModel)] = "channel" name = "channel">
          </div>

          <button type = "button" class = "btn btn-primary" (click) = "onEditDone(index)" [(ngModel)] = "index">Edit</button>
          <button type="button" class = "btn btn-primary" (click) = "onAdd()" style = "margin-left : 20px">Add</button>
        </form>
  </div>

</div>

