<div class= "container">
  <table class = "table table-striped">
    <thead class = "thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Password</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let u of users; let i =index">
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.contact}}</td>
        <td>{{u.password}}</td>
        <td>{{u.gender}}</td>
      </tr>
    </tbody>
  </table>
</div>
