<p>
  {{title}}
</p>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Bucket List
  <span class="caret"></span></button>

  <ul class="dropdown-menu">
    <li *ngFor = "let b of bucketList" (click) = "onItemClicked(b)">{{b}}</li>
  </ul>
</div>
<br>
<div>
  <input type="text" [(ngModel)] = "insertItem" >
  <button type="button" class="btn btn-primary" (click)="AddItem()">Add</button><br><br>
  <input type="text" [(ngModel)] = "selectedItem" >
  <button type="button" class="btn btn-danger" (click)="onRemoveItem()">Remove</button>
</div>
<br><br>
<button type="button" class = "btn btn-warning" (click) = "onLoadDetails()">Details App</button>

<!--
<div (mouseover) = "onToggle()">
  <span  *ngIf = "isValid; else condition1" >Value is true</span>
  <ng-template #condition1>Value is false</ng-template>
</div>

<br>
<div><button type = "button" class = "btn btn-danger" (click)="myFunction()">click me</button></div>
-->
