<div class="container">
  <div class = "row">
      <div class = "col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
          <form (ngSubmit) = "onSubmit()" #f = "ngForm">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" ngModel name= "email" required email>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="password" name = "password" ngModel required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>
