<div class="container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
      <form [formGroup] = 'signUpForm' (ngSubmit) = 'onSubmit()' #f>
            <div class="form-group">
                <label for="name">Name : </label>
                <input type="text" class="form-control" id = 'name' formControlName = "name" name='name' >
                <span *ngIf="!signUpForm.get('name').valid && signUpForm.get('name').touched" class = "help-block">
                  <span *ngIf = "signUpForm.get('name').errors['nameIsForbidden']">You can't take the King name</span>
                  <span *ngIf = "signUpForm.get('name').errors['required']">You have to enter name</span>
                </span>
            </div>
            <div class="form-group">
                <label for="email">Email : </label>
                <input type="email" class="form-control" id = 'email' name='email' formControlName = "email">
                <span class= "help-block" *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched" style = "color :red">Please enter valid email</span>
            </div>
          <div class="form-group">
              <label for="contact">Contact : </label>
              <input type="text" class="form-control" id = 'contact' name='contact'  formControlName = "contact">
          </div>
          <div class="form-group">
              <label for="pwd">Password : </label>
              <input type="password" class="form-control" id = 'pwd' name='pwd' formControlName = "password">
          </div>
          <div class="radio" *ngFor = "let gender of genders">
            <label>
              <input type = "radio" name = "gender" formControlName = "gender" [value] = "gender" >{{gender}}
            </label>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
      </form>
    </div>
  </div>
  <br>
  <hr>
  <div class = "row" *ngIf = "checkForm === true">
    <div class = "col-xs-12">
      <p>Name : {{user.name}}</p>
      <p>Email : {{user.email}}</p>
      <p>contact : {{user.contact}}</p>
      <p>Gender : {{user.gender}}</p>
      <p>Pwd : {{user.pwd}}</p>
    </div>
  </div>
</div>
