<div>
  <p>Count : {{count}}</p>
  <button type = "button" class = "btn btn-primary" (click)="increment()">Increment</button>
</div>
<div>
  <input type="text" #name>{{servName.nativeElement.value}}<br>
  <button type="button" class="btn btn-primary" (click) = "show()">Show</button>
</div>
