<nav class = "navbar navbar-inverse">
    <div class = "container-fluid">
        <div class="navbar-header" >
            <a class="navbar-brand" routerLink="/">Angular Apps</a>
        </div>
        <ul class = "nav navbar-nav">
            <li routerLinkActive = "active" [routerLinkActiveOptions]= "{exact:true}"><a routerLink = "/" >Home</a></li>
            <li routerLinkActive = "active"><a routerLink = "/bucket">BucketList</a></li>
            <li  routerLinkActive="active"><a routerLink = "/series">Web Series</a></li>
            <li style = "display : none;" id = "dash" routerLinkActive="active"><a routerLink ="/dashboard/users" >Dashboard</a></li>
            <ul class = "nav navbar-nav fle-row ml-md-auto d-none d-md-flex" style ="float:right;margin-left:45em">
                <li class = "nav-item" style = "display:none;" routerLinkActive="active" (click) = "logout()" id = "out"><a>logout</a></li>
                <li class = "nav-item"  routerLinkActive = "active"><a routerLink = "/signup">SignUp</a></li>
                <li class = "nav-item"  routerLinkActive="active" ><a routerLink = "/login">Login</a></li>

            </ul>

        </ul>

    </div>
  </nav>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12 col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



<!--<app-web-series-component></app-web-series-component>
<br>
<hr>
<input type = "text" [(ngModel)] = "name">
<button type="button" class = "btn btn-primary" (click) = "case()">Change Case</button>
<app-new-comp><input type="text" placeholder = "pname"#pname></app-new-comp>

<br>
<hr>

<div  style = "background-color: red" appReplaceDirective>
  <app-counter-component [count] = "num" (result)="onIncrement($event)"></app-counter-component>
  <br>
  Parent num: {{num}}<br>
  Parent count : {{parentCount}}
</div>
<br>
<hr>
<div>
  <app-details-component (details) = "showDetails($event)"></app-details-component>
  <br>
  First Name : {{fname}}<br>
  Last Name  : {{lname}}
</div>
<p appReplaceDirective>hello</p>
-->

