<form>
  <div class = "form-group">
    <label for = "fname">First Name : </label>
    <input type="text" class="form-control" name = "fname" [(ngModel)] = "fname">
  </div> 
  <div class = "form-group">
    <label for ="lname">Last Name : </label>
    <input type="text" class = "form-control" name = "lname" [(ngModel)] = "lname">
  </div>
  <button type="submit" class = "btn btn-default" (click) = "passDetails()">Show Details</button>
</form>