<div class= "container">
  <table class = "table table-striped">
    <thead class = "thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Password</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{details.name}}</td>
        <td>{{details.email}}</td>
        <td>{{details.contact}}</td>
        <td>{{details.password}}</td>
        <td>{{details.gender}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" (click) = "admin()"> View All Users</button>
 
</div>
<router-outlet></router-outlet>
